# App
NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000

# Better Auth
BETTER_AUTH_URL=http://127.0.0.1:3000
BETTER_AUTH_SECRET=your-secret-key-here

# Spotify
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
